.blurCircle1 {
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  position: absolute;
  top: 30%;
  right: 25%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgba(89, 206, 143, 0.4);
}

.backgroundOverlayDark {
  background: rgb(25, 26, 25);
  background: linear-gradient(
    90deg,
    rgba(25, 26, 25, 1) 0%,
    rgba(25, 26, 25, 0.7374300061821604) 60%,
    rgba(25, 26, 25, 0.5553571770505077) 100%
  );
}
