@font-face {
  font-family: "Astraneo";
  src: url("./assets/fonts/astraneo/Astraneo.eot");
  src: url("./assets/fonts/astraneo/Astraneo.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/astraneo/Astraneo.woff2") format("woff2"),
    url("./assets/fonts/astraneo/Astraneo.woff") format("woff"),
    url("./assets/fonts/astraneo/Astraneo.ttf") format("truetype"),
    url("./assets/fonts/astraneo/Astraneo.svg") format("svg");
}

/* eyes follow mouse */
.eyes-follow-tired {
  font-family: Arial, sans-serif;
  display: flex;
}
.eyes-follow-tired .container {
  display: flex;
  align-items: center;
}

.eyes-follow-tired .container .eyes {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.eyes-follow-tired .container .eyes .eye {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-image: url("./assets/eyes/eye-back.svg");
  background-repeat: no-repeat;
  background-size: conver;
}
.eyes-follow-tired .container .eyes .eye .pupil {
  position: absolute;
  /* background-color: #382e25; */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  left: 50px;
  top: 35px;
}
.eyes-follow-tired .tiredness {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
